.logo{
    width: 100px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid black;

}
.header >ul{
    display:flex;
    list-style-type: none;
}
.header >ul >li{
    padding-right: 10px;
}
.res-card{
    padding: 10px;
    background-color: bisque;
    width: 200px;
    margin: 10px;
}
.res-logo{
    width: 200px;
    height: 150px;
}
.res-card:hover{
    background-color: rgb(244, 244, 244);  
    border: 1px solid black;
    cursor: pointer;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.shimmer{
    margin: 10px;
    width:220px;
    height:310px;
    background-color: bisque;
}
.shimmer-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img-shimmer{
    width: 200px;
    height: 150px;
    background-color: #d6d6d6;
    margin: 10px;
}
.login-btn{
    margin-right: 10px;
    padding:0px 20px;
}
.filter-ui{
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

.search-ui{
    padding-right: 20px;
}

.error-routing{
    display: flex;
    justify-content: center;
}

.restraurantMenuImg{
    width:100%;
    
}
.singlePage{
    margin:20px ;

    display:flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.menu-decor{
    margin:20px ;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.each-img{
    display: flex;
    justify-content: space-between;
}
.price-rating{
    display: flex;
    justify-content: space-between;
}